%p
	Collection: 
	%strong #{params[:collection]}
%p
	Number of documents: 
	%strong #{@docs.count()}
- @docs.each do |doc|
	.doc 
		%pre
			& #{JSON.pretty_generate(doc)}
		%a.btn.btn-primary{:href => "/collection/#{params[:collection]}/#{doc["_id"]}/edit"}
			Edit
		%form.form-inline{:class=> "delete-form", :method => "POST", :action => "/collection/#{params[:collection]}/#{doc["_id"]}/delete"}
			%button.btn.btn-danger
				Delete